.searchbar-wrapper {
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
    &__input {
        height: 4rem;
        font-size: 2.5rem;
        padding: 0.3rem;
        border-radius: 1rem;
        border: 0.3rem solid rgb(65, 3, 65);
        width: 40rem;
        margin: 1.5rem 0;
        outline: none;
    }
    &__label {
        display: block;
        font-size: 3rem;
        font-weight: 500;
    }
}